<launch>
  <arg name="world_file"  default="$(find re_environments)/worlds/soccer_field.xml"/>
  <arg name="gui" default="true"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="gui" value="$(arg gui)" />
    <arg name="world_name" value="$(arg world_file)"/>
  </include>
  
  <!-- spawn a soccer ball -->
   <node name="soccer_ball" pkg="gazebo_ros" type="spawn_model" args="-file $(find re_environments)/worlds/models/soccer_ball/model.sdf -sdf -x 1 -y 0 -model soccer_ball__" />
</launch>
